<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="activeConnectionString" value="prodDB"/>
    
  </appSettings>
  <connectionStrings>
    <add name="devDB" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=VideoGamesDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"
         />
    <add name="prodDB" 
         connectionString="Data Source=videogamesazure.database.windows.net;Initial Catalog=VideoGamesAzure;User ID=W0302078;Password=AzurePassw0rd;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"
         />
   </connectionStrings>
</configuration>